.NavBar {
  padding: 15px;
  border: 5px solid black;
}

.logoNav {
  max-width: 10%;
  max-height: 20%;
  float: left;
  padding-left: 2%;
  padding-top: 2%;
}

.logoTitle {
  background-color: red;
  
}

.item {
  width: 20%;
}
