.footerLogo {
  max-width: 14.63em;
  max-height: 65px;
  float: left;
  margin: 10px;
}

Footer {
  background: grey;
  position: absolute;
  right: 0;
  margin-top: 100%;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

ul {
   list-style-type: none;
}

.main {
  background: red;
}

.test {
  background: black;
  max-width: 100%;
  max-height: 101px;
  padding: 25px;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

/* .connect {
  float: left;
} */

.footer-title {
  color: white;
}

.logoFoot {
  display: block;

}
