.footerLogo {
  max-width: 14.63em;
  max-height: 65px;
  float: left;
  margin: 10px;
}

ul {
   list-style-type: none;
}

.main {
  background: red;
}

.test {
  background: black;
  max-width: 100%;
  max-height: 101px;
  padding: 25px;
}

.footer-title {
  color: white;
}

.logoFoot {
  display: block;
  
}
